<template>
  <v-container id="login" fluid tag="section">
    <v-row justify="center">
      <v-col cols="12" md="6">
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Autenticação</div>

            <div class="subtitle-1 font-weight-light">Login no app</div>
          </template>

          <v-form ref="form" v-model="valid">
            <v-container>
              <v-row>
                <v-col cols="12" md="12">
                  <v-text-field
                    prepend-icon="mdi-account"
                    v-model="user.email"
                    :rules="[user.rules.required, user.rules.emailRules]"
                    label="E-mail *"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12">
                  <v-text-field
                    prepend-icon="mdi-account-key"
                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="show ? 'text' : 'password'"
                    v-model="user.password"
                    :rules="[user.rules.required]"
                    label="Senha *"
                    required
                    @click:append="show = !show"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12">
                  <v-btn
                    :disabled="!valid || loading"
                    color="info"
                    class="mr-4"
                    @click="handleLogin"
                    >Login</v-btn
                  >
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>
    </v-row>
    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      dense
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>
  </v-container>
</template>

<script>
import UserModel from "../../../app/models/User";

export default {
  name: "login",
  data: () => ({
    valid: true,
    show: false,
    loading: false,
    notification: false,
    typeAlert: "success",
    message: "",
    user: new UserModel(),
  }),
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  mounted() {
    if (this.loggedIn) {
      this.message = "Você já está logado";
      this.typeAlert = "info";
      this.notification = true;
      this.dashboard();
    }
  },
  methods: {
    handleLogin() {
      this.loading = true;
      if (this.user.email && this.user.password) {
        this.$store.dispatch("auth/login", this.user).then(
          () => {
            this.message = "Login efetuado com sucesso.";
            this.typeAlert = "info";
            this.notification = true;
            this.dashboard();
          },
          () => {
            this.message = "Credenciais inválidas!";
            this.typeAlert = "error";
            this.notification = true;
            this.user = new UserModel();
          }
        );
      }
      this.loading = false;
    },

    dashboard() {
      setTimeout(() => this.$router.push("/"), 2000);
    },
  },
};
</script>
