<template>
  <v-container id="register" fluid tag="section">
    <v-row justify="center">
      <v-col cols="12" md="6">
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Registre-se</div>

            <div class="subtitle-1 font-weight-light">Cadastro no app</div>
          </template>
          <v-form ref="form" v-model="valid">
            <v-container>
              <v-row>
                <v-col cols="12" md="12">
                  <v-text-field
                    prepend-icon="mdi-account-plus"
                    v-model="user.name"
                    :rules="[user.rules.required]"
                    :counter="100"
                    label="Nome *"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12">
                  <v-text-field
                    prepend-icon="mdi-email"
                    v-model="user.email"
                    :rules="[user.rules.required, user.rules.emailRules]"
                    label="E-mail *"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    prepend-icon="mdi-account-key"
                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="show ? 'text' : 'password'"
                    v-model="user.password"
                    :rules="[user.rules.required, user.rules.minCaracterPassword]"
                    label="Senha *"
                    required
                    @click:append="show = !show"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    prepend-icon="mdi-account-key"
                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="show ? 'text' : 'password'"
                    v-model="user.password_confirmation"
                    :rules="
                      user.validatorConfirmPassword(
                        user.password,
                        user.password_confirmation
                      )
                    "
                    label="Confirme sua senha *"
                    required
                    @click:append="show = !show"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12">
                  <v-btn
                    :disabled="!valid || loading"
                    color="info"
                    class="mr-4"
                    @click="register"
                    >Registrar</v-btn
                  >
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>
    </v-row>
    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      dense
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>
  </v-container>
</template>

<script>
import UserModel from "../../../app/models/User";

import RegisterController from "../../../app/controllers/RegisterController";
const controler = new RegisterController();

export default {
  name: "register",
  components: {},
  data: () => ({
    valid: true,
    show: false,
    loading: false,
    notification: false,
    typeAlert: "success",
    message: "",
    user: new UserModel(),
  }),
  methods: {
    register() {
      this.loading = true;
      controler.create(this.user).then((response) => {
        if (response.statusCode === 201) {
          this.message = "Cadastro realizado com sucesso";
        } else {
          this.message = response.errors.errors.email[0];
          this.typeAlert = "error";
        }
        this.notification = true;
        this.loading = false;
      });
      setTimeout(() => this.$router.replace({ name: "dashboard" }), 2000);
    },
  },
};
</script>
