<template>
  <v-container id="vehicle-tips" fluid tag="section">
    <v-row justify="center">
      <v-col cols="12" md="12">
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Minhas dicas</div>

            <div class="subtitle-1 font-weight-light">
              Listagem de dicas de veículos cadastradas por mim
            </div>
          </template>
          <br />
          <v-row justify="space-between">
            <v-col cols="1"> </v-col>
            <v-col cols="5">
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Pesquisar"
                hide-details
                color="secondary"
              >
              </v-text-field>
            </v-col>
            <v-col cols="2">
              <v-btn color="blue" @click="newVehicleTip">Nova</v-btn>
            </v-col>
          </v-row>

          <v-data-table
            :headers="headers"
            :items="vehicle_tips"
            :loading="loading"
            loading-text="Carregando..."
            no-data-text="Nenhum registro encontrado"
            :search="search"
            class="elevation-1"
            :items-per-page="5"
          >
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon
                size="20"
                class="mr-2"
                color="info"
                title="Clique para EDITAR esse registro"
                @click="editItem(item)"
              >
                mdi-pencil
              </v-icon>
              <v-icon
                size="20"
                color="red"
                title="Clique para EXCLUIR esse registro"
                @click="deleteItem(item)"
              >
                mdi-delete
              </v-icon>
            </template>
          </v-data-table>
        </base-material-card>
      </v-col>
    </v-row>

    <v-dialog v-model="dialogDelete" max-width="600px">
      <v-card>
        <v-card-title class="headline"
          >Você realmente quer deletar esse registro?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false"> Não </v-btn>
          <v-btn color="blue darken-1" text @click="deleteItemConfirm()"> Sim </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>

    <v-dialog v-model="dialog" max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Editar dica</span>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col>
                <v-select
                  v-model="editedItem.vehicle_id"
                  :items="vehicles"
                  label="Selecione o veículo *"
                  required
                  item-value="id"
                  item-text="version"
                  return-value
                  :rules="[controller.rules.required]"
                />
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close"> Cancelar </v-btn>
          <v-btn color="blue darken-1" text @click="update"> Atualizar </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import VehicleTipController from "../../../app/controllers/VehicleTipController";
import UserController from "../../../app/controllers/UserController";
import VehicleController from "../../../app/controllers/VehicleController";

export default {
  data: () => ({
    loading: false,
    dialog: false,
    dialogDelete: false,
    notification: false,
    search: "",
    message: "",
    typeAlert: "success",
    vehicle_tips: [],
    vehicles: [],
    observacoes: "",
    controller: new VehicleTipController(),
    userController: new UserController(),
    vehicleController: new VehicleController(),
    user_logged: [],
    editedItem: {},
    editedIndex: -1,
    headers: [
      {
        text: "Tipo",
        value: "type",
      },
      {
        text: "Marca",
        value: "mark",
      },
      {
        text: "Modelo",
        value: "model",
      },
      {
        text: "Versão",
        value: "version",
      },
      {
        text: "Data de cadastro",
        value: "create_at",
      },
      {
        text: "Ações",
        value: "actions",
      },
    ],
  }),
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  mounted() {
    if (this.loggedIn) {
      this.user_logged = this.$store.state.auth.user.user.profile[0];
    }
    this.getDataFromApi();
  },
  methods: {
    newVehicleTip() {
      this.$router.push({
        name: "vehicle-tips-form",
      });
    },
    getVehiclesDataFromApi() {
      this.loading = true;
      this.vehicleController.getAll().then((response) => {
        if (response.data) {
          this.vehicles = response.data;
        }
      });
      this.loading = false;
    },
    getDataFromApi() {
      this.loading = true;
      this.userController.getAllVehicleTipsFromUser(this.user_logged).then((response) => {
        for (let i = 0; i < response.data.vehicle_tips.length; i++) {
          let tip = response.data.vehicle_tips[i];
          response.data.vehicle_tips[i]["version"] = tip.vehicle.version;
          response.data.vehicle_tips[i]["mark"] = tip["vehicle"]["mark"];
          response.data.vehicle_tips[i]["model"] = tip["vehicle"]["model"];
          response.data.vehicle_tips[i]["type"] = tip["vehicle"]["type"];
          response.data.vehicle_tips[i]["create_at"] = this.controller.service.formatDate(
            tip["create_at"]
          );
        }
        this.vehicle_tips = response.data.vehicle_tips;
      });
      this.loading = false;
    },

    update() {
      this.close();
      this.loading = true;
      this.editedItem.user_id = this.user_logged.id;
      this.controller.update(this.editedItem).then((response) => {
        if (response.statusCode === 200) {
          this.message = "Dica atualizada com sucesso.";
          this.typeAlert = "info";
          this.getDataFromApi();
        } else {
          this.typeAlert = "error";
          this.message = response.message;
        }
        this.notification = true;
        this.loading = false;
      });
      if (this.editedIndex > -1) {
        Object.assign(this.vehicle_tips[this.editedIndex], this.editedItem);
      }
    },

    editItem(item) {
      this.getVehiclesDataFromApi();
      this.editedIndex = this.vehicle_tips.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.vehicle_tips.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.loading = true;
      this.controller.delete(this.editedItem).then((response) => {
        if (response.statusCode === 200) {
          this.typeAlert = "info";
          this.message = "Dica deletada com sucesso.";
          this.getDataFromApi();
        } else {
          this.typeAlert = "error";
          this.message = response.message;
        }
        this.dialogDelete = false;
        this.notification = true;
        this.getDataFromApi();
        this.loading = false;
      });
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
  },
};
</script>
