<template>
  <v-container id="vehicle-tip-form" fluid tag="section">
    <v-row justify="center">
      <v-col cols="6" md="6">
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Cadastro de dica de veículo</div>

            <div class="subtitle-1 font-weight-light">Cadastrando nova dica</div>
          </template>

          <v-form ref="form" v-model="valid">
            <v-container>
              <v-row>
                <v-col>
                  <v-select
                    v-model="vehicle_tip.vehicle_id"
                    :items="vehicles"
                    label="Selecione o veículo *"
                    required
                    item-value="id"
                    item-text="version"
                    return-value
                    :rules="[controller.rules.required]"
                  />
                </v-col>
              </v-row>
              <v-row justify="space-around">
                <v-col>
                  <v-btn color="orange" @click="voltar">Cancelar</v-btn>
                </v-col>
                <v-btn :disabled="!valid || loading" color="info" @click="register"
                  >Cadastrar</v-btn
                >
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>
    </v-row>
    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      dense
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>
  </v-container>
</template>

<script>
import VehicleTipController from "../../../app/controllers/VehicleTipController";
import VehicleController from "../../../app/controllers/VehicleController";

export default {
  data: () => ({
    valid: true,
    loading: false,
    notification: false,
    typeAlert: "success",
    message: "",
    textBtnAction: "",
    controller: new VehicleTipController(),
    vehicleController: new VehicleController(),
    vehicle_tip: new VehicleTipController().vehicleTipModel(),
    user_logged: {},
    vehicles: [],
  }),
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  mounted() {
    if (this.loggedIn) {
      this.user_logged = this.$store.state.auth.user.user.profile[0];
    }
    this.getVehiclesDataFromApi();
  },
  methods: {
    getVehiclesDataFromApi() {
      this.loading = true;
      this.vehicleController.getAll().then((response) => {
        if (response.data) {
          this.vehicles = response.data;
        }
      });
      this.loading = false;
    },
    register() {
      this.vehicle_tip.user_id = this.user_logged.id;
      this.controller.create(this.vehicle_tip).then((response) => {
        if (response.statusCode === 201) {
          this.message = "Dica de veículo cadastrada com sucesso";
          this.typeAlert = "info";
        } else {
          this.message = "Erro ao cadastrar a dica";
          this.typeAlert = "error";
        }
        this.notification = true;
      });
      setTimeout(() => this.voltar(), 2000);
    },
    voltar() {
      this.$router.go(-1);
    },
  },
};
</script>
