<template>
  <v-container id="curse-register" fluid tag="section">
    <v-row justify="center">
      <v-col cols="8" md="8">
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Veículo</div>
            <div class="subtitle-1 font-weight-light">Cadastro de veículo</div>
          </template>
          <v-form ref="form" v-model="valid">
            <v-container>
              <v-row>
                <v-col>
                  <v-select
                    v-model="vehicle.type"
                    :items="vehiclesTypes"
                    label="Selecione o tipo *"
                    required
                    item-value="id"
                    item-text="type"
                    return-value
                    :rules="[controller.rules.required]"
                  />
                </v-col>
                <v-col>
                  <v-text-field
                    color="secondary"
                    v-model="vehicle.mark"
                    :counter="45"
                    label="Marca *"
                    hint="Informe a marca do veículo"
                    :rules="[controller.rules.required]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-text-field
                    color="secondary"
                    v-model="vehicle.model"
                    :counter="45"
                    label="Modelo *"
                    hint="Informe o modelo do veículo"
                    :rules="[controller.rules.required]"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    color="secondary"
                    v-model="vehicle.version"
                    :counter="45"
                    label="Versão"
                    hint="Informe a versão do veículo"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row justify="space-between">
                <v-btn color="orange" @click="voltar">Cancelar</v-btn>
                <v-progress-circular
                  indeterminate
                  color="secondary"
                  v-if="loading"
                ></v-progress-circular>
                <v-btn :disabled="!valid || loading" color="info" @click="register">
                  registrar
                </v-btn>
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>
    </v-row>
    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      dense
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>
  </v-container>
</template>

<script>
import VehicleController from "../../../app/controllers/VehicleController";

export default {
  name: "vehicle-register",
  data: () => ({
    valid: true,
    loading: false,
    notification: false,
    typeAlert: "success",
    message: "",
    controller: new VehicleController(),
    vehicle: new VehicleController().vehicleModel(),
    vehiclesTypes: ["Caminhão", "Carro", "Moto"],
  }),
  methods: {
    voltar() {
      this.$router.go(-1);
    },
    register() {
      this.loading = true;
      this.controller.create(this.vehicle).then((response) => {
        if (response.statusCode === 201) {
          this.message = "Veículo cadastrado com sucesso.";
          this.typeAlert = "info";
          setTimeout(() => this.$router.replace({ name: "vehicle-list" }), 2000);
        } else {
          this.typeAlert = "error";
          this.message = "Erro ao cadastrar o veículo.";
        }
        this.notification = true;
        this.loading = false;
      });
    },
  },
};
</script>
