<template>
  <v-container id="vehicle-tips" fluid tag="section">
    <v-row justify="center">
      <v-col cols="12" md="12">
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Dicas de veículos</div>

            <div class="subtitle-1 font-weight-light">Listagem de dicas de veículos</div>
          </template>
          <br />
          <v-row justify="space-between">
            <v-col cols="1"></v-col>
            <v-col cols="5">
              <span>Digite marca, modelo, tipo, ou versão para pesquisar</span>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Pesquisar"
                hide-details
                color="secondary"
              >
              </v-text-field>
            </v-col>
          </v-row>

          <v-data-table
            :headers="headers"
            :items="vehicle_tips"
            :loading="loading"
            loading-text="Carregando..."
            :search="search"
            class="elevation-1"
            :items-per-page="5"
          >
          </v-data-table>
        </base-material-card>
      </v-col>
    </v-row>
    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>
  </v-container>
</template>

<script>
import VehicleTipController from "../../app/controllers/VehicleTipController";

export default {
  data: () => ({
    loading: false,
    dialogDelete: false,
    notification: false,
    search: "",
    message: "",
    typeAlert: "success",
    vehicle_tips: [],
    observacoes: "",
    controller: new VehicleTipController(),
    headers: [
      {
        text: "Tipo",
        value: "type",
      },
      {
        text: "Marca",
        value: "mark",
      },
      {
        text: "Modelo",
        value: "model",
      },
      {
        text: "Versão",
        value: "version",
      },
      {
        text: "Data de cadastro",
        value: "create_at",
      },
    ],
  }),
  created() {
    this.getDataFromApi();
  },
  methods: {
    getDataFromApi() {
      this.loading = true;
      this.controller.getAll().then((response) => {
        for (let i = 0; i < response.data.length; i++) {
          response.data[i]["version"] = response.data[i]["vehicle"]["version"];
          response.data[i]["mark"] = response.data[i]["vehicle"]["mark"];
          response.data[i]["model"] = response.data[i]["vehicle"]["model"];
          response.data[i]["type"] = response.data[i]["vehicle"]["type"];
          response.data[i]["create_at"] = this.controller.service.formatDate(
            response.data[i]["create_at"]
          );
        }
        this.vehicle_tips = response.data;
      });
      this.loading = false;
    },
  },
};
</script>
